name: Continuous Benchmark
on:
  push:
    branches:
      - main
    tags:

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Continuous Benchmark
    runs-on: self-hosted
    steps:
      - name: Check out code into the Go module directory.
        uses: actions/checkout@v3

      - name: Install Go.
        uses: actions/setup-go@v3
        with:
          go-version-file: .go-version
          cache: true

      - name: Run benchmark
        run: make bench-new

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Go Benchmark
          tool: 'go'
          output-file-path: benchmarks/new.out
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: false
          gh-repository: 'github.com/thanos-community/promql-engine'
