name: docs

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    name:  Documentation check
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: Check docs
        run: make check-docs
