name: docs

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    name:  Documentation check
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Check docs
        run: make check-docs
