name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, update-prometheus-3.0 ]

jobs:
  skip-check:
    name: Skip check
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    permissions:
      actions: write
      contents: read
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v4
        with:
          do_not_skip: '["schedule", "workflow_dispatch"]'
          paths: |-
            [
              "**.go",
              ".github/workflows/test.yml",
              "go.mod",
              "go.sum"
            ]
          skip_after_successful_duplicate: false

  lint:
    runs-on: ubuntu-latest
    name: Linters (Static Analysis) for Go
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Checkout code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Cache binary dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/.bin
          key: ${{ runner.os }}-binaries-${{ hashFiles('**/go.sum', '.bingo/**/*.sum') }}
          restore-keys: |
            ${{ runner.os }}-binaries-

      - name: Format
        run: make format

      - name: Lint
        run: make lint
  test:
    runs-on: ubuntu-latest
    name: Run tests
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Check out code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go.
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Run unit tests
        run: make test

  test-tag-slicelabels:
    runs-on: ubuntu-latest
    name: Run tests --tags=slicelabels
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Check out code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go.
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Run unit tests
        run: make test-slicelabels

  fuzz:
    runs-on: ubuntu-latest
    name: Run fuzz
    env:
      GOBIN: /tmp/.bin
    steps:
      - name: Check out code into the Go module directory.
        uses: actions/checkout@v5

      - name: Install Go.
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Run fuzzing
        run: make fuzz
